@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import "tailwindcss";

* {
  font-family: 'Goldman', sans-serif;
  /* border: solid red 1px; */
  background-color: bla;
}
a.active hr{
  display: block;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow-x: hidden;
}

/* Background stars container */
.starry-background {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 
  -24vw -44vh 2px 2px #fff,
  38vw -4vh 0px 0px #fff,
  -20vw -48vh 1px 2px #fff,
  -39vw 38vh 3px 1px #fff,
  -42vw -11vh 0px 3px #fff,
  12vw 15vh 3px 3px #fff,
  42vw 6vh 3px 2px #fff,
  -8vw 9vh 0px 2px #fff,
  34vw -38vh 1px 0px #fff,
  -17vw 45vh 3px 1px #fff,
  22vw -36vh 3px 2px #fff,
  -42vw 1vh 1px 0px #fff,
  -10vw -30vh 1px 1px #fff,
  25vw -10vh 2px 0px #fff,
  10vw 40vh 0px 2px #fff,
  -30vw 20vh 2px 2px #fff,
  30vw -25vh 1px 1px #fff,
  -35vw -15vh 0px 1px #fff,
  15vw 30vh 1px 2px #fff,
  -5vw -20vh 2px 1px #fff,
  5vw 25vh 2px 0px #fff,
  40vw -30vh 3px 1px #fff,
  -38vw 25vh 1px 1px #fff,
  32vw 12vh 2px 2px #fff,
  -18vw -10vh 0px 1px #fff,
  20vw -5vh 1px 0px #fff,
  -28vw -40vh 3px 2px #fff,
  18vw 18vh 1px 1px #fff,
  -10vw 38vh 2px 2px #fff,
  36vw -18vh 1px 1px #fff,
  -32vw 8vh 1px 0px #fff,
  0vw 0vh 2px 2px #fff;
  animation: zoom 10s alternate infinite;
  z-index: -1; /* behind everything */
  transform: translate(-50%, -50%);
}



@keyframes zoom {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}


@media (max-width:640px) {
  a.active{
    background-color: white;
    color: black;
  }
}